/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('../../client/src/assets/bg.jpg');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;

}
