<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main px-1 py-1 px-md-5">
        <div class="text"><br>
            <br><br><br><br>
            <h1>Your Health</h1>
            <h2>Our Priority</h2>
            <br>
            <p>
                
                Streamlining Medical Equipment Management.<br>
                Effortless track, maintain, and allocate <br>
                medical equipment across healthcare facilites. <br>
                Connect hospital,  maintenance teams, and suppliers <br>
                for seamless healthcare delivery.
            
            </p>
            <br>
        </div>
        <div class="img">
            <img src="../../assets/hi.png" alt="Not found">
        </div>
    </div>
</body>
</html>