<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main px-1 py-1 px-md-5">
        <div class="text"><br>
            <br><br><br><br>
            <h2>Where Health</h2>
            <h3>Meets Innovation.</h3>
            <br>
            <p>
            </p>
            <br>
        </div>
        <div class="img">
            <img src="../../assets/hi.png" alt="Not found">
        </div>
    </div>
</body>
</html>